@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Source Sans Pro', sans-serif; 
    text-decoration: none;
}

body{
    background-color: black;
   margin: 0;
   padding:0;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

}

header{
   width: 100%;
   height: 100%;
}
/*HEADER SUPERIOR*/
.header__superior{
    max-width: 100% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 400px;
    height: 150px;

}
.search input{
    width: 350px;
    height: 40px;
}

.contenedor__menu{
    width: 100%;
    height: 65px;
    background:rgb(199, 141, 141);
    padding: 0px 20px;
    border: 0cm;
    margin-top: -20px;

}
.menu {
    max-width: 1000px;
    margin: auto;
    height: 100%;
    padding: 0px 20px;
    background-position: 100px;
}
nav{
    height: 100%;
    padding-inline-start: 500px;
}
nav ul{
    height: 100%;
    display: flex;
     
}
nav  ul li{
    height: 100%;
    list-style: none ;
    position: relative;
}
nav ul li:first-child  a{
    background-image: url(img/homeeee.jpg);
    background-size:25px ;
    background-repeat: no-repeat;
    background-position: center center;
    width: fit-content ;
    padding: 22px 30px ;
}
nav ul li:first-child:hover a{
    background-image: url(img/homeeee.jpg);
    background-size:  25px;
    background-repeat: no-repeat;
    background-position:center center;
     
    

}
nav ul li a{
    width:100% ;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px ;
    color: beige;
    font-size: 14px;
    transition: all 300ms ease;
    

}
nav ul li a:hover{
    transform: scale(1.1) ;
    width: fit-content ;
    cursor: pointer;
    background: red;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)  ;

}
#selected{
    transform: scale(1.1) ;
    width: fit-content ;
    cursor: pointer;
    background-color: red;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)  ;
    
}
/*ELEMENTOS RESPOSIVOS*/
.icon__menu{
    font-size: 2px;
    color: aqua;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__menu{
    width: 25px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}

#selected{
    color: bisque

}
@media screen and (max-width: 720px ){
    .search input{
        display: none;
    }
    .header__superior{
        padding: 10px ;
    }
    .logo img {width: 200px;
    }
    nav>ul{
        flex-direction: column;
        background-color: rgb(5, 46, 82);
        position: fixed;
        left: 0;
        top: 150px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100%;
        *opacity: 0;
        *visibility: hidden;
    
    }
    nav>ul>li>a:hover{
        transform: scale(1);
    }
    nav ul li ul{
        left: 90px;
    }
     
    nav>ul>li:first-child a{ 
        background-position: 20px;
        
    }
    #selected{
        transform: scale(1);
    }
    
}

.slider{
    width: 10 0%;
    right: 100px;
    border-radius: 1px;
    overflow: hidden ;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex ;
}

.slides input {
    display: none ;
}

.slide{
    width: 20%;
    transition: 1s;
}
.slide img{
    width: 100%;
    height: 70%;

}
.nav-manual {
    position: absolute;
    width: 100% ;
    margin-top: -155px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid black;
    padding:5px;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: rgb(18, 20, 24);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -200%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

.nav-auto{
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin: 460px;
}
.nav-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: beige;
}

#radio1:checked ~ .nav-auto .auto-btn2{
    background-color: rgb(126, 126, 14);
}

#radio1:checked ~ .nav-auto .auto-btn3{
    background-color: rgb(104, 11, 31);
}








    





