body{
    background-color: black;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
}
/*HEADER SUPERIOR*/
.header__superior{
    max-width: 1200px;
    margin: auto ;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 0px;
}
.logo img{
    width: 300px;

}
.search input{
    width: 250px;
    padding: 10px;
}

.contenedor__menu{
    width: 100%;
    height: 100%;
    background:black;
    padding: 0px 10px;
    border: 0cm;
    margin-top: 1px;

}
.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
    padding: 0px 20px;
    background-position: 100px;
}
nav{
    height: 100%;
    padding-inline-start: 500px;
}
nav ul{
    height: 100%;
    display: flex;
     
}
nav  ul li{
    height: 100%;
    list-style: none ;
    position: relative;
}
nav ul li:first-child  a{
    background-image: url(img/homeeee.jpg);
    background-size:25px ;
    background-repeat: no-repeat;
    background-position: center center;
    width: fit-content ;
    padding: 22px 30px ;
}
nav ul li:first-child:hover a{
    background-image: url(img/homeeee.jpg);
    background-size:  25px;
    background-repeat: no-repeat;
    background-position:center center;
     
    

}
nav ul li a{
    width:100% ;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px ;
    color: beige;
    font-size: 14px;
    transition: all 300ms ease;
    

}
nav ul li a:hover{
    transform: scale(1.1) ;
    width: fit-content ;
    cursor: pointer;
    background: red;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)  ;

}
#selected{
    transform: scale(1.1) ;
    width: fit-content ;
    cursor: pointer;
    background-color: red;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5)  ;
    
}
/*ELEMENTOS RESPOSIVOS*/
.icon__menu{
    font-size: 2px;
    color: aqua;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__menu{
    width: 25px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}

#selected{
    color: bisque

}






.contenedor{
    display: flex;
    justify-content: right;

}
.txt-1{
    margin: 10px 15px;
}
.txt-2{
    margin: 50px 50px;
}
.txt-3{
    margin: 90px 90px;
}
.naybar{
    text-align: right;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 100%;

}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 60%;
}
@keyframes cambio {
    0%{ margin-left: 0%;}
    25%{ margin-left: 0%;}

    26%{ margin-left: -100%;}
    50%{ margin-left: -100%;}

    51%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    71%{ margin-left: -300%;}
    100%{ margin-left: -300%;}
}