@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Chelsea Market', cursive;
    margin: 0;
    padding: 0;

}
body{
   background-color: rgb(0, 0, 0);
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 20px;
}
header{
   width: 100%;
   height: 160px;
}
/*HEADER SUPERIOR*/
.header__superior{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 400px;
    height: 190px;

}
.search input{
    width: 350px;
    height: 40px;
}

.contenedor__menu{
    width: 100%;
    height: 50px;
    background:r#5f1a1a;

}
.menu {
    max-width: 100%;
    margin: 0;
    height: 100%;
    padding: 2px;
    *background-position: 10px;
}
nav{
    height: 100%;
    padding-inline-start: 500px;
}
nav ul{
    height: 100%;
    display: flex;
     
}
nav  ul li{
    height: 100%;
    list-style: none ;
    position: relative;
}
nav ul li:first-child  a{
    background-image: url(img/homeeee.jpg);
    background-size:30px ;
    background-repeat: no-repeat;
    background-position: center center;
    width: fit-content ;
    padding: 25px 30px ;
}
nav ul li:first-child:hover a{
    background-image: url(img/homeeee.jpg);
    background-size:  30px;
    background-repeat: no-repeat;
    background-position:center center;
     
}
nav ul li a{
    width:100% ;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 25px ;
    color: rgb(235, 235, 218);
    font-size: 15px;
    transition: all 300ms ease;
    text-decoration: none;

}
nav ul li a:hover{
    transform: scale(1.1) ;
    width: fit-content ;
    cursor: pointer;
    background: rgb(148, 108, 108);
    box-shadow: 0px 0px 10px 0px rgba(212, 190, 190, 0.5)  ;

}
#selected{
    transform: scale(1.1) ;
    width: fit-content ;
    cursor: pointer;
    background-color: rgb(148, 108, 108);
    box-shadow: 0px 0px 10px 0px rgba(100, 88, 88, 0.5)  ;
    
}
/*ELEMENTOS RESPOSIVOS*/
.icon__menu{
    font-size: 2px;
    color: aqua;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__menu{
    width: 25px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}

#selected{
    color: bisque

} 
@media screen and (max-width: 720px ){
    .search input{
        display: none;
    }
    .header__superior{
        padding: 10px ;
    }
    .logo img {width: 200px;
    }
    nav>ul{
        flex-direction: column;
        background-color: rgb(5, 46, 82);
        position: fixed;
        left: 0;
        top: 15px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100%;
        opacity: 0;
        visibility: hidden;
    
    }
    nav>ul>li>a:hover{
        transform: scale(1);
    }
    nav ul li ul{
        left: 90px;
    }
     
    nav>ul>li:first-child a{ 
        background-position: 20px;
        
    }
    #selected{
        transform: scale(1);
    }
    
}


.container-carousel {
    position: relative;
    width: 100%;
    height: 420px;
    background-color: #e0e0e0;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 5px;
    overflow: hidden;
    margin:  30px 0;
}

.carruseles {
    width: 500%;
    height: 100%;
    display: flex;

}

.slider-section {
    width: calc(100% / 5);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.btn-left,
.btn-right {
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
    color: #9e121281;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: rgba(255, 252, 251, 0.667)
}
    

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: rgb(148, 108, 108);
    margin: 50px 0;
}
.guia{
    display: flex;
    margin: 10px;
}
.guia>p{
    margin: 0 20px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #6d2020;
    margin: 20px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #6d2020;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #581c1c;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(78, 116, 116);
}
.pie-pagina .grupo-2{
    background-color: #581c1c;
    padding: 15px 10px;
    color:rgb(180, 140, 140);
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
/* Main */
.container-items{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: end;
    margin:  60px 50px;
}

.item{
    border-radius: 10px;
    padding: 0 10px;
    width: 50%;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.979);
}
.container-items>.box1{
    width: 50%;
    background: #000000;
    color: #ffffff;
    font-size: 1.2rem;
}

.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .4s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.1);
}








    





